<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress 1</h4>
                <div class="progress-bar bg-primary progress-bar-striped active" 
                    style="height:10px;"
                    [style.width]="getProgreso1"
                    role="progressbar">
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Striped Progress 2</h4>
                <div class="progress-bar bg-red progress-bar-striped active" 
                    style="height:10px;"
                    [style.width]="getProgreso2"
                    role="progressbar">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment 
                    (onChangeValue)="progreso1 = $event"  
                    [progressPercent]="progreso1" >
                </app-increment>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment 
                    (onChangeValue)="changeValue( $event )"  
                    [progressPercent]="progreso2" >
                </app-increment>
            </div>
        </div>
    </div>
</div>